$userColor: cyan;
$computerColor: magenta;

.info-value {
    text-align: center;
    margin: 30px;
    font-family: 'Courier New', Courier, monospace;

    .user {
        color: $userColor;
    }

    .computer {
        color: $computerColor;
    }
}

.board {
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .cell {
        width: 150px;
        height: 150px;
        font-size: 100px;
        background-color: rgb(13, 5, 79);
        border: 1px solid white;
        margin: 1px;
        border-radius: 5px;
        text-align: center;
        transition: .5s;
    }

    // not .cell.disabled
    .cell:not(.disabled) {
        &:hover {
            cursor: pointer;
            background-color: rgb(10, 56, 142);
        }
    }

    .cell.user {
        color: $userColor;
    }

    .cell.computer {
        color: $computerColor;
    }
}


@media screen and (max-width: 600px) {
    .board {
        .line {
            width: 5px;
        }

        .cell {
            width: 120px;
            height: 120px;
            font-size: 70px;
        }
    }
}

@media screen and (max-width: 400px) {
    .board {
        .cell {
            width: 90px;
            height: 90px;
            font-size: 50px;
        }
    }
}

@media screen and (max-width: 300px) {
    .board {
        .cell {
            width: 70px;
            height: 70px;
            font-size: 40px;
        }
    }
}